<div class="center jumbotron home-jumbotron">
  <div>
    <h1>Welcome to MembersOnly</h1>
  </div>
  <div class="home-subtitle">
    <h2 class="text-center">MembersOnly is completely free to join!</h2>
    </hr>
    <h3 class="text-center">Click the button below to sign up</h3>
  </div>
  <%= link_to 'Sign Up', signup_path, class: 'btn btn-primary btn-lg signup-btn' %>
  
</div>
