<% if !logged_in? %>
  <%= render 'shared/welcome' %>
<% end %>

<h1>All Posts</h1>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post_path(post) %> 
      <% if logged_in? %>
        <%= link_to post.user.name, post_path(post) %>
      <% end %>
    </li>
  <% end %>
  </ul>

  <%= link_to 'Create a new post', new_post_path %>