@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);
@import 'bootstrap-sprockets';
@import 'bootstrap';

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; 
}

body {
  padding: 50px 10px;
  font-family: 'Open Sans', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1 {
  font-size: 3em;
  latter-spacing: -3px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 300;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #feb72b;
    text-decoration: none;
    transition-duration: 0.35s;
  }
}

header { 
  .container-fluid {
    padding: 0px 40px !important;
  }
  .navbar-right {
    margin-right: 30px;
  }
}

/* Home Page Subtitle ----------------------- */
.home-jumbotron {
  background-color: #fcf8e8;
}

.home-subtitle h2 {
  display: block;
  text-align: center;
  margin: 40px 0px 10px 0;
}

.signup-btn {
  width: 200px;
  height: auto;
  background-color: #f64b3c;
  border-color: #c81912;
  color: #dcdcdc;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  font-weight: 500;
  &:hover {
    background-color: #B9382D;
    border: 1px solid white;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    transition-duration: 0.20s;
  }
}

/* Sitewide Nav ------------------------------ */
.sitewide-nav {
  background-color: #899857;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  a {
    color: white;
    &:hover {
      text-decoration: underline;
      background-color: transparent !important;
      color: #feb72b;
      transition-duration: 0.35s;
    }
  }
}

/** Form**/

input, textarea, select {
  border: 1px solid #dcdcdc;
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
  border-radius: 5px;

}

.create-btn {
  margin-top: 20px;
  width: 100%;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}