<header class="navbar navbar-fixed-top sitewide-nav">
  <div class="container-fluid" >
  <%= link_to "MembersOnly", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Log In', '#' %></li>
      </ul>
    </nav>
  </div>
</header>